body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.mycontent{
    margin: 0 auto;
    width: 760px;
}

.topimg{
    width:100%;
    background-color: #2A6495;
}

.brainstormpic img{
   width:100%;
   height: auto;
}

.navbar {
    background-color: #b7a3a3; 
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    
}

.navbar li {
    padding: 5px;
    float: left;
    width: 175px;
}

.navbar a {
    display: block;
    color: black;
    text-align: left;
    padding: 16px;
    border: 2px solid black; 
    text-decoration: none;
}

.navbar a:hover {
    background-color: #7a7979; 
    color: white;
}
